<html>
    <body>
        <h1>Hello, World</h1>
        <p>Static page mustache the time is {{ time }}</p>
        here are the items:
        <br>
        {{#items}}
        <div>{{ . }} </div>
        {{/items}}
    </body>
</html>