<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weather</title>
</head>
<body>
  <h1>Weather</h1>
  <form action="/weather/location" method="GET">
    <input type="text" placeholder="Name" name="name">
    <input type="submit" value="Submit">
  </form>
</body>
</html>